body {
	margin: 1px;
//	font-family: sans-serif;
    padding: 10px;
}
.controls {
	text-align:	center;
	margin-left: -160px;
}
.robot-controls {
	text-align:	center;
	margin-left: -160px;
}
.elements {
	text-align:	center;
}
video {
    background: #eee none repeat scroll 0 0;
    border: 1px solid black;
    margin-top: 5px;
}
.overlayWrapper {
    position: relative;
    margin: 0 auto;
}
.overlayWrapper .overlay {
    position: absolute;
}
p {
    margin: 0.125em;
}
small {
    font-size: smaller;
}
// range slider
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html {
    color: #404040;
    font-family: Helvetica, arial, sans-serif;
}
body {
    padding: 5px 0px;
    margin: 0 auto;
    max-width: 800px;
}
output {
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 3px 0;
    width: 100%;
}
.u-left {
    float: right;
    margin-top: -55%;
    margin-right: 125px;
}
.u-right {
    float: right;
    margin-top: -55%;
    margin-right: 125px;
}
.u-cf:before,
.u-cf:after {
    content: "";
    display: table;
}
.u-cf:after {
    clear: both;
}
.u-text-left {
    display: inline;
    text-align: right;
    margin-left: -20px;
}
.u-text-right {
    text-align: right;
    margin-top: -30px;
    margin-left: -35px;
}
.u-text-drive {
    margin-left: 3px;
}

